N8N Workflows/RAG_Agent.json
{
  "name": "Live Tuto - Rag Agent",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant. You need to only use the \"pdf_content\" to answer the user."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        440,
        0
      ],
      "id": "38753c57-3e04-4250-a32d-7fa411f26c14",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        340,
        220
      ],
      "id": "afe01079-a233-4a17-8858-7d431349afbb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2CQDxkr2l1VjtfSY",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        540,
        220
      ],
      "id": "724f898a-8012-401f-a3ef-ee8f33bb0fb1",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "Cg5PUvHcDD30q7jg",
          "name": "Almouhandis Live Tuto Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "pdf_content",
        "toolDescription": "Work with this tool to answer the user's query",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        740,
        220
      ],
      "id": "5c720381-2824-4d19-8031-a06805eb54cf",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "tiWspdwMW5tFX6On",
          "name": "Live Tuto Almouhandis Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        680,
        440
      ],
      "id": "0c5686af-29c3-4cda-8780-7b8e3eda6926",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "2CQDxkr2l1VjtfSY",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c8a5cd38-6ec5-402d-bc77-a15b4e54402e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        0
      ],
      "id": "6f32bec5-c3a0-4748-afa9-539e2d1c8bec",
      "name": "Webhook",
      "webhookId": "c8a5cd38-6ec5-402d-bc77-a15b4e54402e"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        0
      ],
      "id": "36cbdff9-e340-4f35-909e-52ae280bef59",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de5fed34-089b-44c2-81b7-54e31cb0bf30",
              "name": "chatInput",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "1e2ce57f-3ccc-44dd-a591-5cfedde8e96f",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId || \"8976ujhkhgfd\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ],
      "id": "bdcc84ba-2bdf-47f6-8b22-9192663daef0",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d98ed82a-b821-4f0a-8a14-00ac969e6aed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e0813d2111c2c5a0d0ba3299f9f534c6862b676db02ce68c9da5ada414a4332"
  },
  "id": "APSbzww7HE5Y5j1J",
  "tags": []
}